header
  height: 300px
  padding: 20px
  background: linear-gradient(45deg, #b39cdd, transparent)
  display: flex
  flex-direction: column
  justify-content: space-between

  h1
    width: 50%
    font-size: 50px
    text-transform: uppercase

  .topNav
    display: flex
    justify-content: space-between
    align-content: center

    ul
      display: flex
      text-decoration: none
      list-style: none
      gap: 10px

      li
        font-weight: 600
        font-size: 16px
